/*
 * GOLDEN-API
 * Trazadera Golden API
 *
 * OpenAPI spec version: 16-SNAPSHOT
 * Contact: support@trazadera.com 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.trazadera.golden.restclient.api;

import com.trazadera.golden.restclient.invoker.ApiCallback;
import com.trazadera.golden.restclient.invoker.ApiClient;
import com.trazadera.golden.restclient.invoker.ApiException;
import com.trazadera.golden.restclient.invoker.ApiResponse;
import com.trazadera.golden.restclient.invoker.Configuration;
import com.trazadera.golden.restclient.invoker.Pair;
import com.trazadera.golden.restclient.invoker.ProgressRequestBody;
import com.trazadera.golden.restclient.invoker.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.trazadera.golden.restclient.model.BaseResponseDto;
import org.threeten.bp.LocalDate;
import com.trazadera.golden.restclient.model.MetricEntityListResponseDto;
import com.trazadera.golden.restclient.model.MetricListResponseDto;
import com.trazadera.golden.restclient.model.MetricResponseDto;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;import java.util.Map;
import java.util.List;
import java.util.Map;

public class MetricApi {
    private ApiClient apiClient;
    private Map<String, String> headers;

    public MetricApi() {
        this(Configuration.getDefaultApiClient());
    }

    public MetricApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public void setHeadersOverrides(Map<String, String> headers) {
        this.headers = headers;
    }

    /**
     * Build call for deleteOneMetric
     * @param id Metric identifier (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteOneMetricCall(String id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/api/metrics/{id}"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteOneMetricValidateBeforeCall(String id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling deleteOneMetric(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteOneMetricCall(id, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Locates one metric and deletes it.
     * Locates one metric by identifier and deletes it. Requires permissions &#x27;metric.delete&#x27; and &#x27;metric.filter&#x27;.
     * @param id Metric identifier (required)
     * @return MetricResponseDto
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public MetricResponseDto deleteOneMetric(String id) throws ApiException {
        ApiResponse<MetricResponseDto> resp = deleteOneMetricWithHttpInfo(id);
        return resp.getData();
    }

    /**
     * Locates one metric and deletes it.
     * Locates one metric by identifier and deletes it. Requires permissions &#x27;metric.delete&#x27; and &#x27;metric.filter&#x27;.
     * @param id Metric identifier (required)
     * @return ApiResponse&lt;MetricResponseDto&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<MetricResponseDto> deleteOneMetricWithHttpInfo(String id) throws ApiException {
        com.squareup.okhttp.Call call = deleteOneMetricValidateBeforeCall(id, null, null);
        Type localVarReturnType = new TypeToken<MetricResponseDto>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Locates one metric and deletes it. (asynchronously)
     * Locates one metric by identifier and deletes it. Requires permissions &#x27;metric.delete&#x27; and &#x27;metric.filter&#x27;.
     * @param id Metric identifier (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteOneMetricAsync(String id, final ApiCallback<MetricResponseDto> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteOneMetricValidateBeforeCall(id, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<MetricResponseDto>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getMetricsByDate
     * @param date Date in ISO yyyy-MM-dd format (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getMetricsByDateCall(LocalDate date, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/api/metrics/date/{date}"
            .replaceAll("\\{" + "date" + "\\}", apiClient.escapeString(date.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getMetricsByDateValidateBeforeCall(LocalDate date, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'date' is set
        if (date == null) {
            throw new ApiException("Missing the required parameter 'date' when calling getMetricsByDate(Async)");
        }
        
        com.squareup.okhttp.Call call = getMetricsByDateCall(date, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Retrieves the metrics for a certain date.
     * Retrieves all available metrics for indicated date. Requires permissions &#x27;metric.list&#x27; and &#x27;metric.filter&#x27;.
     * @param date Date in ISO yyyy-MM-dd format (required)
     * @return MetricListResponseDto
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public MetricListResponseDto getMetricsByDate(LocalDate date) throws ApiException {
        ApiResponse<MetricListResponseDto> resp = getMetricsByDateWithHttpInfo(date);
        return resp.getData();
    }

    /**
     * Retrieves the metrics for a certain date.
     * Retrieves all available metrics for indicated date. Requires permissions &#x27;metric.list&#x27; and &#x27;metric.filter&#x27;.
     * @param date Date in ISO yyyy-MM-dd format (required)
     * @return ApiResponse&lt;MetricListResponseDto&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<MetricListResponseDto> getMetricsByDateWithHttpInfo(LocalDate date) throws ApiException {
        com.squareup.okhttp.Call call = getMetricsByDateValidateBeforeCall(date, null, null);
        Type localVarReturnType = new TypeToken<MetricListResponseDto>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves the metrics for a certain date. (asynchronously)
     * Retrieves all available metrics for indicated date. Requires permissions &#x27;metric.list&#x27; and &#x27;metric.filter&#x27;.
     * @param date Date in ISO yyyy-MM-dd format (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getMetricsByDateAsync(LocalDate date, final ApiCallback<MetricListResponseDto> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getMetricsByDateValidateBeforeCall(date, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<MetricListResponseDto>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getMetricsByDateRange
     * @param from Start date (included) in ISO yyyy-MM-dd format (required)
     * @param to End date (excluded) in ISO yyyy-MM-dd format (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getMetricsByDateRangeCall(LocalDate from, LocalDate to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/api/metrics/range/{from}/{to}"
            .replaceAll("\\{" + "from" + "\\}", apiClient.escapeString(from.toString()))
            .replaceAll("\\{" + "to" + "\\}", apiClient.escapeString(to.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getMetricsByDateRangeValidateBeforeCall(LocalDate from, LocalDate to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'from' is set
        if (from == null) {
            throw new ApiException("Missing the required parameter 'from' when calling getMetricsByDateRange(Async)");
        }
        // verify the required parameter 'to' is set
        if (to == null) {
            throw new ApiException("Missing the required parameter 'to' when calling getMetricsByDateRange(Async)");
        }
        
        com.squareup.okhttp.Call call = getMetricsByDateRangeCall(from, to, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Retrieves the metrics for a certain date range.
     * Retrieves all metrics for indicated date range. The range must be valid (from before to). Requires permissions &#x27;metric.list&#x27; and &#x27;metric.filter&#x27;.
     * @param from Start date (included) in ISO yyyy-MM-dd format (required)
     * @param to End date (excluded) in ISO yyyy-MM-dd format (required)
     * @return MetricListResponseDto
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public MetricListResponseDto getMetricsByDateRange(LocalDate from, LocalDate to) throws ApiException {
        ApiResponse<MetricListResponseDto> resp = getMetricsByDateRangeWithHttpInfo(from, to);
        return resp.getData();
    }

    /**
     * Retrieves the metrics for a certain date range.
     * Retrieves all metrics for indicated date range. The range must be valid (from before to). Requires permissions &#x27;metric.list&#x27; and &#x27;metric.filter&#x27;.
     * @param from Start date (included) in ISO yyyy-MM-dd format (required)
     * @param to End date (excluded) in ISO yyyy-MM-dd format (required)
     * @return ApiResponse&lt;MetricListResponseDto&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<MetricListResponseDto> getMetricsByDateRangeWithHttpInfo(LocalDate from, LocalDate to) throws ApiException {
        com.squareup.okhttp.Call call = getMetricsByDateRangeValidateBeforeCall(from, to, null, null);
        Type localVarReturnType = new TypeToken<MetricListResponseDto>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves the metrics for a certain date range. (asynchronously)
     * Retrieves all metrics for indicated date range. The range must be valid (from before to). Requires permissions &#x27;metric.list&#x27; and &#x27;metric.filter&#x27;.
     * @param from Start date (included) in ISO yyyy-MM-dd format (required)
     * @param to End date (excluded) in ISO yyyy-MM-dd format (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getMetricsByDateRangeAsync(LocalDate from, LocalDate to, final ApiCallback<MetricListResponseDto> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getMetricsByDateRangeValidateBeforeCall(from, to, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<MetricListResponseDto>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getMetricsByEntityAndDateRange
     * @param entity Entity identifier (required)
     * @param range Number of days to return since yesterday (included). The range must be positive (not zero). Default is 1 days - a window of just one day (yesterday). (optional, default to 1)
     * @param aggregate Aggregate metrics by certain number of days. Default is to not aggregate (0) and return daily metrics. (optional, default to 0)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getMetricsByEntityAndDateRangeCall(String entity, Integer range, Integer aggregate, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/api/metrics/entity/{entity}"
            .replaceAll("\\{" + "entity" + "\\}", apiClient.escapeString(entity.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (range != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("range", range));
        if (aggregate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("aggregate", aggregate));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getMetricsByEntityAndDateRangeValidateBeforeCall(String entity, Integer range, Integer aggregate, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'entity' is set
        if (entity == null) {
            throw new ApiException("Missing the required parameter 'entity' when calling getMetricsByEntityAndDateRange(Async)");
        }
        
        com.squareup.okhttp.Call call = getMetricsByEntityAndDateRangeCall(entity, range, aggregate, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Retrieves metrics for a certain entity.
     * Retrieves metrics for indicated entity and date range. Date range is calculated as a window of indicated number of days, being yesterday the right bound. By default is 5. Requires permissions &#x27;metric.list&#x27;, &#x27;metric.filter&#x27; and &#x27;entity.filter&#x27;.
     * @param entity Entity identifier (required)
     * @param range Number of days to return since yesterday (included). The range must be positive (not zero). Default is 1 days - a window of just one day (yesterday). (optional, default to 1)
     * @param aggregate Aggregate metrics by certain number of days. Default is to not aggregate (0) and return daily metrics. (optional, default to 0)
     * @return MetricEntityListResponseDto
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public MetricEntityListResponseDto getMetricsByEntityAndDateRange(String entity, Integer range, Integer aggregate) throws ApiException {
        ApiResponse<MetricEntityListResponseDto> resp = getMetricsByEntityAndDateRangeWithHttpInfo(entity, range, aggregate);
        return resp.getData();
    }

    /**
     * Retrieves metrics for a certain entity.
     * Retrieves metrics for indicated entity and date range. Date range is calculated as a window of indicated number of days, being yesterday the right bound. By default is 5. Requires permissions &#x27;metric.list&#x27;, &#x27;metric.filter&#x27; and &#x27;entity.filter&#x27;.
     * @param entity Entity identifier (required)
     * @param range Number of days to return since yesterday (included). The range must be positive (not zero). Default is 1 days - a window of just one day (yesterday). (optional, default to 1)
     * @param aggregate Aggregate metrics by certain number of days. Default is to not aggregate (0) and return daily metrics. (optional, default to 0)
     * @return ApiResponse&lt;MetricEntityListResponseDto&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<MetricEntityListResponseDto> getMetricsByEntityAndDateRangeWithHttpInfo(String entity, Integer range, Integer aggregate) throws ApiException {
        com.squareup.okhttp.Call call = getMetricsByEntityAndDateRangeValidateBeforeCall(entity, range, aggregate, null, null);
        Type localVarReturnType = new TypeToken<MetricEntityListResponseDto>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves metrics for a certain entity. (asynchronously)
     * Retrieves metrics for indicated entity and date range. Date range is calculated as a window of indicated number of days, being yesterday the right bound. By default is 5. Requires permissions &#x27;metric.list&#x27;, &#x27;metric.filter&#x27; and &#x27;entity.filter&#x27;.
     * @param entity Entity identifier (required)
     * @param range Number of days to return since yesterday (included). The range must be positive (not zero). Default is 1 days - a window of just one day (yesterday). (optional, default to 1)
     * @param aggregate Aggregate metrics by certain number of days. Default is to not aggregate (0) and return daily metrics. (optional, default to 0)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getMetricsByEntityAndDateRangeAsync(String entity, Integer range, Integer aggregate, final ApiCallback<MetricEntityListResponseDto> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getMetricsByEntityAndDateRangeValidateBeforeCall(entity, range, aggregate, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<MetricEntityListResponseDto>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getMetricsPage
     * @param pageNumber Page number (required)
     * @param pageSize Page size (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getMetricsPageCall(Integer pageNumber, Integer pageSize, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/api/metrics";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (pageNumber != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("pageNumber", pageNumber));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("pageSize", pageSize));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getMetricsPageValidateBeforeCall(Integer pageNumber, Integer pageSize, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'pageNumber' is set
        if (pageNumber == null) {
            throw new ApiException("Missing the required parameter 'pageNumber' when calling getMetricsPage(Async)");
        }
        // verify the required parameter 'pageSize' is set
        if (pageSize == null) {
            throw new ApiException("Missing the required parameter 'pageSize' when calling getMetricsPage(Async)");
        }
        
        com.squareup.okhttp.Call call = getMetricsPageCall(pageNumber, pageSize, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Retrieves a page of all available metrics.
     * Retrieves a page of all available metrics. Requires permissions &#x27;metrics.list&#x27; and &#x27;metric.filter&#x27;.
     * @param pageNumber Page number (required)
     * @param pageSize Page size (required)
     * @return MetricListResponseDto
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public MetricListResponseDto getMetricsPage(Integer pageNumber, Integer pageSize) throws ApiException {
        ApiResponse<MetricListResponseDto> resp = getMetricsPageWithHttpInfo(pageNumber, pageSize);
        return resp.getData();
    }

    /**
     * Retrieves a page of all available metrics.
     * Retrieves a page of all available metrics. Requires permissions &#x27;metrics.list&#x27; and &#x27;metric.filter&#x27;.
     * @param pageNumber Page number (required)
     * @param pageSize Page size (required)
     * @return ApiResponse&lt;MetricListResponseDto&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<MetricListResponseDto> getMetricsPageWithHttpInfo(Integer pageNumber, Integer pageSize) throws ApiException {
        com.squareup.okhttp.Call call = getMetricsPageValidateBeforeCall(pageNumber, pageSize, null, null);
        Type localVarReturnType = new TypeToken<MetricListResponseDto>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves a page of all available metrics. (asynchronously)
     * Retrieves a page of all available metrics. Requires permissions &#x27;metrics.list&#x27; and &#x27;metric.filter&#x27;.
     * @param pageNumber Page number (required)
     * @param pageSize Page size (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getMetricsPageAsync(Integer pageNumber, Integer pageSize, final ApiCallback<MetricListResponseDto> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getMetricsPageValidateBeforeCall(pageNumber, pageSize, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<MetricListResponseDto>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
